<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sensors</title>
    </head>

    <form th:method="POST" th:action="@{/sensors}" th:object="${sensor}">
        <label for="name">Enter sensor name: </label>
        <input type="text" th:field="*{name}" id="name" />
        <br />
        <input type="submit" value="Create!" />
    </form>

</html>