<!DOCTYPE html>
<html lang="en">

<head>
    <link th:href="@{/resources/css/style.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{http://fonts.googleapis.com/css?family=Rubik}" rel='stylesheet' type='text/css' />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensors</title>
</head>
<div class="sensor_new_form">
    <form th:method="POST" th:action="@{/sensors}" th:object="${sensor}">
        <label for="name">Enter sensor name: </label>
        <input type="text" th:field="*{name}" id="name" />
        <input type="submit" value="Create!" />
    </form>
</div>

</html>